@media only screen and (min-width: 500px) and (max-width: 720px){
    .encuestas-container{
        display: grid;
        width: 460px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 15px;
    }
}
@media only screen and (min-width: 721px) and (max-width: 900px){
    body{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100vh;
    }
    header{
        width: 100%;
    }
    .multicolor-line{
        width: 100%;
    }
    .main-title{
        font-size: 2.5em;
        margin-inline: 0;
    }
    .main-p{
        font-size: 1.5em;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .encuestas-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    footer{
        width: 100%;
        height: 6em;
        padding-inline: 10%;
    }
    .legales{
       flex-direction: row;
       justify-content: center;
    }
    .legales p{
        margin: 0 .5%; 
    }
    footer nav{
        max-width: 100%;
        align-items: center;
    }
    .links{
        max-width: 100%;
    }
    .links a{
        font-size: 1em;
    }
    .redes{
        max-width: 100%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1200px){
    body{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100vh;
    }
    .main-title{
        font-size: 2.5em;
        margin-inline: 0;
    }
    .main-p{
        font-size: 1.5em;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    .encuestas-container{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(180px, auto);
        gap: 15px;
    }
    .nivel{
        font-size: 1em;
    }
    .tema{
        font-size: 1.1em;
    }
    .info{
        font-size: 1.1em;
    }
    footer{
        height: 6em;
        padding-inline: 10%;
    }
    .legales{
       flex-direction: row;
       justify-content: center;
    }
    .legales p{
        margin: 0 .5%;
    }
    footer nav{
        flex-direction: row;
        width: 55%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
    .links{
        max-width: 100%;
        margin: 0 1%;
        width: auto;
        flex: none;
        justify-content: flex-start;
    }
    .links a{
        font-size: 1em;
    }
    .redes{
        max-width: 100%;
        justify-content: center;
        margin: 0 1%;
        flex: none;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1450px){
    body{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100vh;
    }
    header{
        height: 7em;
        padding: 0 15%;
    }
    main{
        background-image: url(../assets/wireframe-flecha.png);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: top right;
        padding: 3% 15%;
    }
    .main-title{
        font-size: 3em;
    }
    .main-p{
        font-size: 2em;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .encuestas-container{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
    }
    .nivel{
        font-size: 1.1em;
    }
    .tema{
        font-size: 1.5em;
    }
    .info{
        font-size: 1.2em;
    }
    footer{
        flex-direction: row;
        height: 6em;
    }
    .legales{
       flex-direction: row;
       margin: 0;
    }
    .legales p{
        font-size: 1.1em;
    }
    footer nav{
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
    .links{
        max-width: 100%;
        justify-content: flex-start;
        margin: 0;
    }
    .links a{
        font-size: 1.1em;
    }
    .redes{
        max-width: 100%;
        justify-content: flex-end;  
    }
    .redes a img{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (min-width: 1451px){
    body{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100vh;
    }
    header{
        height: 7em;
        padding: 0 15%;
    }
    main{
        background-image: url(../assets/wireframe-flecha.png);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: top right;
        padding: 3% 15%;
    }
    .main-title{
        font-size: 3em;
    }
    .main-p{
        font-size: 2em;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .encuestas-container{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
    }
    .encuesta-text{
        width: 58%;
        height: 65%;    
    }
    .nivel{
        font-size: 1.1em;
    }
    .tema{
        font-size: 1.6em;
    }
    .info{
        font-size: 1.3em;
    }
    footer{
        flex-direction: row;
        height: 6em;
        padding-inline: 15%;
    }
    .legales{
       flex-direction: row;
       margin: 0;
    }
    .legales p{
        font-size: 1.1em;
    }
    footer nav{
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
    .links{
        max-width: 100%;
        justify-content: flex-start;
        margin: 0;
    }
    .links a{
        font-size: 1.1em;
    }
    .redes{
        max-width: 100%;
        justify-content: flex-end;  
    }
    .redes a img{
        width: 40px;
        height: 40px;
    }
}